header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(28,24,103,1) 0%, rgba(81,73,236,1) 0%, rgba(202,207,212,1) 0%, rgba(238,248,250,1) 97%);
    border-radius: 1px;
    border-bottom: solid 1px;
    box-shadow: 2px 2px 3px #112D4E;
}


body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(81,73,236,1) 0%, rgba(202,207,212,1) 0%, rgba(219,218,237,1) 0%, rgba(220,219,238,1) 3%, rgba(235,241,247,1) 43%, rgba(238,248,250,1) 69%);
}


/* Logo */
div  .logoImg {
    height: 80px;
    width: 80px;
    border: solid 1px black;
    border-radius:50%;
    margin-right: 10px;
}

/* Middle */
main .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrer {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    margin-top: 5px;
}

h4 {
    font-family: sans-serif;
    font-weight: bold;
}

.expe {
    font-weight:400;
    margin-top: 10px;
    font-size: 18px;
}


.expe em{
    font-weight: bold;
}

hr {
    height: 1px;
    width: 100%;
    background-color: black;
}

/* Profile Image */
div .profileImg {
    display: flex;
    justify-content: center;
    height: 165px;
    width: 160px;
    border-radius: 50%;
    border: solid 3px black;
}

div .profile {
    display: flex;
    justify-content: center;
}

/* Name span */
span {
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 24px;
    text-shadow: 1px 1px 1px black;
    margin-top: 10px;
}

.nameAbout {
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 35px;
    text-shadow: 1px 1px 1px black;
    margin-top: 5px;
    margin-bottom: 0;
}

.homeVar {
    margin-top: 19px;
    font-weight: bold;
    text-shadow: 1px 2px 1px black;
}

.homeVarF {
    margin-top: 20px;
    text-shadow: 2px 2px 3px black;
}

.homeVarF li {
    font-size: 20px;
    font-family: sans-serif;
}

.socialMediaF{
    display: flex;
    justify-content: center;
    align-content: center;
}

/*   ----------------------------------- */
ul {
    margin-top: 15px;
    margin-left: 20px;
}

ul a {
    color: black;
}

li {
    list-style: none;
    font-size: 25px;
}
/*   ----------------------------------- */

/* Skills */

.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skillsCol li {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}
.skillsCol img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.skillsCol {
    padding-left: 0;
}

/* ------------------------- */
/* Educación */

h6 {
    margin-top: 5px;
    font-weight: bold;
}

.footerB {
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(28,24,103,1) 0%, rgba(81,73,236,1) 0%, rgba(202,207,212,1) 0%, rgba(238,248,250,1) 97%);    
    border-radius: 1px;
    border-bottom: solid 1px;
    border-top: solid 2px;
    box-shadow: 2px 2px 2px 3px #112D4E;
}


@media (min-width: 100px) and (max-width: 1200px) {
    .socialMediaOne {
        display: none;
    }

}

@media (min-width: 100px) and (max-width: 1160px) {
    .socialMediaTwo {
        display: none;
    }

}

@media (min-width: 100px) and (max-width: 1120px) {
    .socialMediaThree {
        display: none;
    }

}

@media (min-width: 100px) and (max-width: 1080px) {
    .socialMediaFour {
        display: none;
    }

    header{
        position: relative;
    }

}


@media (min-width: 100px) and (max-width: 752px) {
 div .homeVar {
    margin-left: 200px;
 }
}

@media (min-width: 100px) and (max-width: 596px) {
    div .homeVar {
       margin-left: 80px;
    }
}

@media (min-width: 100px) and (max-width: 476px) {
    div .homeVar {
       margin-left: 40px;
    }
}

@media (min-width: 100px) and (max-width: 437px) {
    div .homeVar {
       margin-left: 0px;
    }
}






